<!--- Aqui estou utilizando HTML para fazer uma "pagina" de enviar o email mais bonito-->


<!--- Criando um CSS para deixar mais padrão e assim depois crianto a parte do html para passar esse arquivo
para mostrar no email -->

<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <p>
        Olá {{name}}!
    </p>
    <br>
    <p>Recebemos uma solicitação de redefinição de senha</p>
    <p>Clique no link abaixo para escolher uma nova senha</p>

    <p>
        <a href="{{link}}">Resetar Senha</a>
    </p>

    <p>Caso não queria resetar a senha , descartar o email</p>

</div>